<footer class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-4 col-xl-5">
            <ul>
                <li>Partenaire 1</li>
                <li>Partenaire 2</li>
                <li>Partenaire 3</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Agence Immo Liévin</h5>
            <dl class="contact-list">
                <dt>Adresse :</dt>
                <dd>36 Avenue Jean Lebas</dd>
                <dd>59100 Roubaix</dd>
            </dl>
            <dl class="contact-list">
                <dt>Email :</dt>
                <dd><a href="mailto:agence-immo-lievin@outlook.fr">agence-immo-lievin@outlook.fr</a></dd>
            </dl>
            <dl class="contact-list">
                <dt>Téléphone :</dt>
                <dd><a href="tel:0102030405">01.02.03.04.05</a>
                </dd>
            </dl>
        </div>
        <div class="col-md-4 col-xl-3">
            <h5>Liens</h5>
            <ul class="nav-list">
                <li><a href="#">Nous Contacter</a></li>
                <li><a href="#">CGV</a></li>
                <li><a href="#">Mentions Légales</a></li>
            </ul>
        </div>
    </div>
</footer>