<div class="d-flex justify-content-center">
    <a href="">Notre Agence</a>&nbsp;|&nbsp;
    <a href="{{ path('properties',{type : 'Location'}) }}">Locations</a>&nbsp;|&nbsp;
    <a href="{{ path('properties',{type : 'Vente'}) }}">Ventes</a>
</div>