{% extends 'home/base.html.twig' %}

{% block content %}
Carrousel
<fieldset class='border'>
    <legend class="w-auto mx-auto">Top Offres</legend>
    <div class="row">
        {% for property in properties %}
        {{ include('home/_property.card.html.twig',{property : property}) }}
        {% endfor %}
        {{ knp_pagination_render(properties) }}
    </div>
</fieldset>
{% endblock %}