{% if app.user %}
<div class="col-12 col-md-2">
    <ul class="list-unstyled mt-5">
        <li><a href="{{ path('userprofil') }}">Informations Personnelles</a></li>
        <li>Mes Favoris</li>
        <li><a href="{{ path('userpropose') }}">Proposer un bien</a></li>
    </ul>
</div>
{% endif %}