{% extends 'base.html.twig' %}

{% block title %}Agence Immo Liévin - Administration{% endblock %}

{% block body %}

{% include "admin/header.html.twig" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-2 bg-light pt-5">
            <ul class='list-unstyled'>
                <li><a href="{{ path('adminusers') }}">Gérer les utilisateurs</a></li>
                <li><a href="{{ path('adminproperties') }}">Gérer les Biens</a></li>
                <li><a href="{{ path('adminimportexport') }}">Import/Export</a></li>
                <li><a href="{{ path('adminmails') }}">Messagerie</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-8 col-lg-10">
            {% block container %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}