<div class="btn-secondary">
    <img src="{{ asset('build/images/Logo.gif') }}" alt="">
    <span>{% if app.user %}Partie Administration{% else %}Accès interdit - non authentifié{% endif %}</span>

</div>